*{
    border:0;
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    width: 90%;
    border-collapse: collapse;
    align-items: center;
    margin:30px auto;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    max-width: 160px;
}

table th {
    background-color: #2A7B9B;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

thead {
    background-color: #2A7B9B;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}   

tbody tr:hover {
    background-color: #f1f1f1;
}

.actions{
    display: flex;
    gap: 20px;  
    align-items: center;
    width: 100%;
}

.actions button{
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #2A7B9B;
    font-size: 15px;
}
.actions button.delete{
    background-color: #e74c3c;
}
.actions button.edit{
    background-color: #27ae60;
}

.actions button:hover{
    opacity: 0.8;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

.switch input:checked + .slider {
    background-color: #2A7B9B;
}

.switch input:checked + .slider:before {
    transform: translateX(20px);
}

.status-checkbox{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.status-checkbox .switch {
    width: 80px;
    height: 40px;
}

.status-checkbox .slider:before {
    height: 32px;
    width: 32px;
    left: 2px;
    bottom: 4px;
    border-radius: 50%;
}

.status-checkbox .switch input:checked + .slider:before {
    transform: translateX(42px);
}

.status-checkbox .switch input:checked + .slider {
    background-color: #2A7B9B;
}

.status-checkbox .switch input + .slider {
    background-color: #e74c3c;
}

.status-checkbox .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.status-checkbox .slider {
    border-radius:20px;
}



