*{
    border:0;
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    width: 90%;
    border-collapse: collapse;
    align-items: center;
    margin:30px auto;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    max-width: 150px;
}

table th {
    background-color: #2A7B9B;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

thead {
    background-color: #2A7B9B;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}   

tbody tr:hover {
    background-color: #f1f1f1;
}

.actions{
    display: flex;
    gap: 20px;  
    align-items: center;
    width: 100%;
}

.actions button{
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #2A7B9B;
    font-size: 15px;
}
.actions button.delete{
    background-color: #e74c3c;
}
.actions button.edit{
    background-color: #27ae60;
}

.actions button:hover{
    opacity: 0.8;
}
